/* Empty. Add your own CSS if you like */
.car {
		overflow: visible !important;
		transition: background-color 1000ms linear;
		min-height: 40px !important;
		min-width: 12px !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
}

#train-display {
		margin-top: 20px;
		padding-top: 10px;
		height: 50px;
		white-space: nowrap;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		overflow: visible;
}

.best {
		animation: fade 1200ms infinite !important;
}

#right {
		width: 100% !important;
		direction: rtl;
		color: #484242;
		padding-top: 5px;
}

.img {
		-webkit-mask-image: url('/img/ic_train_right.png');
		-webkit-mask-size: 100% 47px;
		min-height: 47px !important;
		margin-top: -7px;
		padding-top: 7px !important;
}

.button-bar > .button {
		margin-right: 2px !important;
		border-radius: 0 !important;
		width: 61px;
		flex: initial !important;
}

#left {
		padding-top: 0;
		color: #fff;
		display: table-cell;
    vertical-align: middle;
    padding-left: 35px;
		font-weight: bold;
}

.violet{
		color: #82227b;
}

.span-wrapper {
		display: table;
		background-color: #13719f;
}

div span {
		color: #4197BF;
		position: relative;
		width: 90%;
		padding-top: 10px;
}

#back-home {
		width: 0;
		font-size: 45px;
		color: #fff;
		cursor: pointer;
}

#refresh {
		cursor: pointer;
		font-size: 40px;
		color: #fff;
		float: right;
		width: 0%;
		padding-top: 0;
		padding-right: 30px;
}

@keyframes fade {
    from {opacity: 1.0;}
    50% {opacity: 0.4;}
    to {opacity: 1.0;}
}

h1 {
		color: white !important;
}

#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

.infospan {
		padding-top: 0px;
		margin: 0px;
}

.angucomplete-image-holder, .angucomplete-title {
		display: inline;
}

.angucomplete-row {
		margin-bottom: 5px;
		border-bottom: #ECE9E9 solid 1px;
}

.angucomplete-selected-row {
		color: #10729F;
		background-color: #F8F8F8;
		font-weight: bold; 
}


.loading {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: #4197BF;
  border-bottom-color: #4197BF;
  border-radius: 50% 0;
  box-shadow: 0 0 0.25em #4197BF inset;
}

.outer {
  animation: spin 4s infinite linear;
}

.inner {
  animation: spinR 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spinR {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

#loaderWrapper {
		width: 50px;
    margin-left: auto;
    margin-right: auto;
		margin-top: 20px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#legend {
    background: white;
    padding: 10px;
    margin: 5px;
		font-weight: 500;
		font-size: 12px;
}


.item {
		border-style: none !important;
}

.bar-positive {
	background-color: #13719F !important;
}
.button-positive {
	color: white;
	background-color: #13719F !important;
}
#l, #d, #s{
	width: 90%;
	padding-left: 20px;
	border-bottom: #2196F3 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

input:disabled{
    background-color: white;
}